<div class="section pre-launch">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/web-page.png" class="img-responsive">
        <h1 class="text-center">E N &nbsp; C R E C I M I E N T O</h1>
        <p class="text-center">Somos una comunidad que celebra la belleza del cabello natural rizado
            y a las mujeres afro en general.
          <br>
          <br>CONTACTO:
          <br>
          <b>info@afroticas.com</b>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section text-center">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-4 text-center">
        <a class="instagram" target="_blank" href="https://www.instagram.com/afroticas" id="Instagram"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
      </div>
      <div class="col-xs-4">
        <a class="twitter" target="_blank" href="https://www.twitter.com/afroticas" id="Twitter"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
      </div>
      <div class="col-xs-4">
        <a id="Facebook" target="_blank" href="https://www.facebook.com/afroticas" class="facebook"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div>
